*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  background: rgb(223, 242, 248);
}

body p, body h1, body h2, body h3, body h4, body u{
  font-family: "Plus Jakarta Sans", sans-serif;
}


@media (max-width: 768px){
  body{
    height: 1500px;
  }
}
@media (max-width: 414px){
  
}
@media (max-width: 375px){
  body{
    height: 1500px;
  }
}
@media (max-width: 320px){
  body{
    height: 1500px;
  }
}